// Button
.k-block-type-button input {
    @include fontSize(16px, 16px);
    background-color: $neutrals-400;
    border-radius: 8px;
    border: none;
    color: $neutrals-1000;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding: 12px 24px;
    text-decoration: none;

    &::placeholder {
        color: $neutrals-1000;
    }

    &:focus {
        border-color: var(--color-focus);
        outline: 0;
    }
}