.button {
    @include fontSize(16px, 24px);
    align-items: baseline;
    border: none;
    border-radius: $border-radius-medium;
    display: inline-flex;
    font-family: $title-font;
    font-weight: 500;
    gap: 8px;
    justify-content: space-between;
    letter-spacing: -0.01em;
    padding: 8px 24px;
    position: relative;
    transition: all $transition-time-short ease-in-out;

    &-primary, &-secundary {
        min-width: 136px;
        
        span {
            display: flex;
            align-items: baseline;
            gap: 8px;
        }
    }

    &-primary {
        background-color: $primary-600;
        color: $neutrals-100;
    }

    &-secundary {
        background-color: $primary-100;
        color: $primary-600;
    }

    &-tertiary {
        background: none;
        border-radius: 0;
        padding: 0;
    }
}

/* DESKTOP - 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .button {
        gap: 12px;

        &-tertiary {
            gap: 8px;
        }
    }
}