// ICONS BUTTONS
.button {
    i {
        bottom: 1px;
        font-size: 12px;
        line-height: 22px;
        position: relative;
        transition: all $transition-time-short ease-in-out;

        &.icon-hover {
            left: 0;
        }

        &.icon-big {
            font-size: 14px;
        }
    }

    &-tertiary i {
        color: $primary-600;
    }
}

// ICONS TAGS
.tag {
    &-s i {
        font-size: 10px;
        line-height: 10px;
    }

    &-m i {
        font-size: 12px;
        line-height: 12px;
    }
}

/* DESKTOP - 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .button:hover i.icon-hover {
        left: 4px;
    }
}