p, .p {
    @include fontSize(16px, 26px);
    color: $neutrals-800;
    font-family: $paragraph-font;
    font-weight: 400;
    letter-spacing: -0.01em;

    &.p-lg {
        @include fontSize(20px, 32px);
    }
}