.breadcrumbs {
    align-items: baseline;
    display: flex;
    gap: 8px;

    .breadcrumb {
        @include fontSize(16px, 24px);
        color: $neutrals-900;
        font-family: $title-font;
        font-weight: 400;

        &.active {
            color: $neutrals-1000;
            font-weight: 500;
        }
    }

    i {
        @include fontSize(14px, 20px);
        color: $neutrals-800;
    }
}