.breadcrumbs {
    align-items: baseline;
    display: flex;
    gap: 8px;

    .breadcrumb {
        color: $neutrals-900;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &.active {
            color: $neutrals-1000;
            font-weight: 500;
        }
    }

    i {
        color: $neutrals-800;
        font-size: 14px;
        line-height: 20px;
    }
}