.card {
    border: $border-card-thin;
    border-radius: $border-radius-medium;
    padding: 24px;

    &:has(.card__period) {
        h4 {
            margin-bottom: 4px;
        }
    }

    &:has(.card__link) {
        .tags {
            margin-bottom: 20px;
        }
    }

    h4 {
        margin-bottom: 8px;

        span, span a {
            color: $primary-400;
        }
    }

    &__period, &__link {
        @include fontSize(14px, 14px);
        font-family: $title-font;
        letter-spacing: -0.01em;
    }

    &__period {
        color: $neutrals-900;
        margin-bottom: 12px;
    }

    p {
        margin-bottom: 8px;
    }

    &__link {
        border-bottom: 2px solid $primary-300;
        color: $primary-500;
        display: inline;
        padding-bottom: 2px;
        width: min-content;
        white-space: nowrap;
    }

    &.project {
        background-color: $neutrals-100;
    }

    &.experience {
        background-color: $neutrals-200;
    }

    &.education-item {
        background-color: $neutrals-100;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .card {
        padding: 32px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .card {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 100% !important;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .card {
        padding: 32px;

        h4 {
            @include fontSize(24px, 32px);
            margin-bottom: 16px;
        }
    }
}