.languages-container {
    position: absolute;
    right: 53px;

    .language-active {
        @include fontSize(16px, 16px);
        align-items: center;
        background-color: $primary-100;
        border: none;
        border-radius: $border-radius-medium;
        color: $primary-600;
        display: inline-flex;
        font-family: $title-font;
        font-weight: 500;
        gap: 6px;
        padding: 6px 8px;
        text-transform: uppercase;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .languages-container {
        position: absolute;
        right: 85px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .languages-container {
        right: 0px;

        .language-active {
            background-color: $primary-600;
            color: $neutrals-100;
        }
    }
}