.languages-container {
    position: absolute;
    right: 53px;

    .language-active {
        align-items: center;
        background-color: $primary-100;
        border: none;
        border-radius: $border-radius-medium;
        color: $primary-600;
        display: inline-flex;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 500;
        gap: 6px;
        line-height: 16px;
        padding: 6px 8px;
        text-transform: uppercase;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .languages-container {
        position: absolute;
        right: 85px;
    }
}