.nav-team,
.employee {
    align-items: center;
    background-color: $neutrals-200;
    border: $border-card-thin;
    border-radius: $border-radius-medium;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 8px;
    width: calc(100% - 3px);

    &-container {
        align-items: center;
        display: flex;
        gap: 16px;

        .icon-container,
        .employee-picture-container {
            @include size(56px, 56px);
            border-radius: $border-radius-medium;
            overflow: hidden;
        }

        .icon-container {
            background-color: $primary-600;
            text-align: center;

            i {
                @include fontSize(24px, 24px);
                color: $neutrals-100;
                position: relative;
                transform: translate(0, -50%);
                top: 50%;
            }
        }

        .employee-picture {
            aspect-ratio: 1/1;
            border: $border-img;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        .content {
            h5 {
                margin-bottom: 4px;
            }

            .function {
                @include fontSize(14px, 14px);
            }

            .tags {
                display: flex;
            }
        }
    }
}

.employee {
    box-shadow: $card-shadow;
    cursor: pointer;

    &-container .content {
        .button-desktop {
            display: none;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .nav-team {
        .button {
            display: none;
        }

        i.desktop {
            color: $primary-600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.01em;
        }
    }

    .employee:hover {
        .button {
            gap: 8px !important;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .nav-team {
        &-container {
            .content {
                h5 {
                    @include fontSize(16px, 24px);
                }
            }
        }
    }

    .employee {
        padding: 12px;

        &-container {
            .employee-picture-container {
                @include size(90px, 90px);
            }

            .content {
                h5 {
                    @include fontSize(16px, 20px);
                }

                .function {
                    margin-bottom: 16px;
                }

                .button-desktop {
                    @include fontSize(14px, 14px);
                    display: inline-flex;
                    gap: 4px;

                    i {
                        font-size: 10px;
                    }
                }
            }
        }

        .button-mobile {
            display: none;
        }
    }
}