@mixin draw-progress($progress) {
    .prog-bar {
        .left-side {
            transform: rotate($progress * 3.6deg);
        }

        @if $progress <= 50 {
            .right-side {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}

.prog-bar-wrapper {
    $widthHeight: 80px;
    $halfWidthHeight: ($widthHeight / 2);

    @include size($widthHeight, $widthHeight);
    position: relative;

    .prog-bar {
        @include size(100%, 100%);
        clip: rect(0, $widthHeight, $widthHeight, $halfWidthHeight);
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
            @include size(100%, 100%);
            border: 4px solid $primary-600;
            border-radius: 50%;
            clip: rect(0, $halfWidthHeight, $widthHeight, 0);
            left: 0;
            position: absolute;
            top: 0;
        }

        &__content {
            align-items: center;
            background: $primary-100;
            bottom: 0;
            border-radius: 50%;
            color: $neutrals-1000;
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;

            .lang-code,
            .percentage {
                font-family: $title-font;
                letter-spacing: -0.01em;
                text-transform: uppercase;
            }

            .lang-code {
                @include fontSize(16px, 24px);
                color: $neutrals-1000;
                font-weight: 500;
            }

            .percentage {
                @include fontSize(14px, 14px);
                color: $neutrals-800;
            }
        }
    }

    // Change by JavaScript
    &.progress-30 {
        @include draw-progress(30);
    }

    &.progress-60 {
        @include draw-progress(60);
    }

    &.progress-90 {
        @include draw-progress(90);
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    $widthHeight: 156px;
    $halfWidthHeight: ($widthHeight / 2);

    .prog-bar-wrapper {
        @include size($widthHeight, $widthHeight);
    
        .prog-bar {
            clip: rect(0, $widthHeight, $widthHeight, $halfWidthHeight);
    
            .half-circle {
                clip: rect(0, $halfWidthHeight, $widthHeight, 0);
            }

            &__content {
                gap: 8px;

                .lang-code {
                    @include fontSize(24px, 32px);
                }
    
                .percentage {
                    @include fontSize(16px, 16px);
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    $widthHeight: 104px;
    $halfWidthHeight: ($widthHeight / 2);

    .prog-bar-wrapper {
        @include size($widthHeight, $widthHeight);
    
        .prog-bar {
            clip: rect(0, $widthHeight, $widthHeight, $halfWidthHeight);
    
            .half-circle {
                clip: rect(0, $halfWidthHeight, $widthHeight, 0);
            }

            &__content {
                gap: 4px;

                .lang-code {
                    @include fontSize(20px, 28px);
                }
    
                .percentage {
                    @include fontSize(14px, 14px);
                }
            }
        }
    }
}