.skill {
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        &__title, &__percentage {
            font-family: $title-font;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: -0.01em;
        }

        &__title {
            color: $neutrals-1000;
        }

        &__percentage {
            color: $neutrals-800;
        }
    }

    .bar {
        bottom: 0;
        height: 3px;
        position: absolute;
    }

    &__full-bar {
        background-color: $primary-100;
        width: 100%;
        z-index: 0;
    }

    &__percentage-bar {
        background-color: $primary-500;
        z-index: 1;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .skill {
        max-width: 242px;
        
        &__content {
            margin-bottom: 12px;
    
            &__title, &__percentage {
                font-size: 16px;
                line-height: 16px;
            }
        }
    
        .bar {
            height: 4px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .skill {
        max-width: 299px;

        &__content {
            margin-bottom: 16px;
        }
    }
}