@mixin draw-progress($progress) {
    .prog-bar {
        .left-side {
            transform: rotate($progress * 3.6deg);
        }

        @if $progress <= 50 {
            .right-side {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}

.prog-bar-wrapper {
    @include size(80px, 80px);
    position: relative;

    .prog-bar {
        @include size(100%, 100%);
        clip: rect(0, 80px, 80px, 40px);
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
            @include size(100%, 100%);
            border: 4px solid $primary-600;
            border-radius: 50%;
            clip: rect(0, 40px, 80px, 0);
            left: 0;
            position: absolute;
            top: 0;
        }

        &__content {
            align-items: center;
            background: $primary-100;
            bottom: 0;
            border-radius: 50%;
            color: $neutrals-1000;
            cursor: default;
            display: flex;
            font-size: 16px;
            flex-direction: column;
            justify-content: center;
            line-height: 24px;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;

            .lang-code,
            .percentage {
                font-family: $title-font;
                letter-spacing: -0.01em;
                text-transform: uppercase;
            }

            .lang-code {
                color: $neutrals-1000;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            .percentage {
                color: $neutrals-800;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }

    // Change by JavaScript
    &.progress-30 {
        @include draw-progress(30);
    }

    &.progress-60 {
        @include draw-progress(60);
    }

    &.progress-90 {
        @include draw-progress(90);
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .prog-bar-wrapper {
        @include size(156px, 156px);
    
        .prog-bar {
            clip: rect(0, 156px, 156px, 78px);
    
            .half-circle {
                clip: rect(0, 78px, 156px, 0);
            }

            &__content {
                gap: 8px;

                .lang-code {
                    font-size: 24px;
                    line-height: 32px;
                }
    
                .percentage {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .prog-bar-wrapper {
        @include size(104px, 104px);
    
        .prog-bar {
            clip: rect(0, 104px, 104px, 52px);
    
            .half-circle {
                clip: rect(0, 52px, 104px, 0);
            }

            &__content {
                gap: 4px;

                .lang-code {
                    font-size: 20px;
                    line-height: 28px;
                }
    
                .percentage {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }
}