.projects {
    .project {
        align-items: center;
        background-color: $primary-100;
        border: $border-card-thin;
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;
        display: flex;
        gap: 20px;
        padding: 12px;
        width: 100%;

        &:hover {
            box-shadow: 0px 12px 24px rgba(52, 58, 64, 0.08);

            .content .button {
                gap: 10px;
            }
        }

        .icon-container {
            @include size(90px, 90px);
            background-color: $primary-600;
            border-radius: $border-radius-medium;
            text-align: center;

            i {
                @include fontSize(32px, 32px);
                color: $neutrals-100;
                position: relative;
                transform: translate(0, -50%);
                top: 50%;
            }
        }

        .content {
            text-align: left;

            p {
                @include fontSize(14px, 22px);
                margin-bottom: 12px;
            }

            .button {
                @include fontSize(14px, 14px);
                gap: 6px;

                i {
                    @include fontSize(12px, 12px);
                    bottom: 0;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .projects {
        .project {
            gap: 32px;
            padding: 16px;

            .icon-container {
                @include size(128px, 128px);

                i {
                    @include fontSize(56px, 56px);
                }
            }

            .content {
                h4 {
                    @include fontSize(24px, 32px);
                }

                p {
                    @include fontSize(16px, 26px);
                    margin-bottom: 16px;
                }

                .button {
                    @include fontSize(16px, 16px);
                    gap: 6px;

                    i {
                        @include fontSize(12px, 12px);
                    }
                }
            }
        }
    }
}
