.socials {
    display: flex;
    gap: 6px;

    .social {
        @include size(40px, 40px);
        border-radius: $border-radius-medium;
        background-color: $primary-100;
        color: $primary-600;
        text-align: center;

        &:hover {
            background-color: $primary-200;

            i {
                color: $primary-700;
            }
        }

        i {
            @include fontSize(20px, 20px);
            color: $primary-600;
            position: relative;
            top: 10px;
        }
    }
}