.team {
    margin-bottom: 32px;

    &:last-of-type {
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: 16px;
    }

    .employees {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .team {
        margin-bottom: 48px;
    
        h4 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
        }

        .employees {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}