.container-login {
    @include size(100%, 100vh);
    max-height: 100vh;
    overflow: hidden;

    .content {
        @include size(100%, 100%);
        background-color: $neutrals-200;
        position: relative;

        .nav {
            .logo-lang-container {
                .languages-container {
                    right: 16px;
                }
            }
        }

        .alert, .copyright, &__body {
            width: calc(100% - 32px);
            left: 16px;
        }

        .alert {
            align-items: center;
            display: flex;
            gap: 8px;
            position: relative;
            
            h5, i {
                color: $error-500;
                font-size: 16px;
            }
        }

        &__body {
            position: absolute;
            transform: translate(0%, -50%);
            top: 50%;

            .header {
                margin-bottom: 32px;

                h1 {
                    margin-bottom: 16px;
                }
            }

            form {
                > div {
                    margin-bottom: 16px;

                    &:last-of-type {
                        margin-bottom: 24px;
                    }

                    label {
                        @include fontSize(16px, 24px);
                        color: $neutrals-800;
                        display: block;
                        font-family: $title-font;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }

                    input {
                        @include fontSize(16px, 16px);
                        background-color: $neutrals-100;
                        border: 1px solid $primary-200;
                        border-radius: $border-radius-medium;
                        color: $neutrals-1000;
                        font-family: $paragraph-font;
                        font-weight: 400;
                        padding: 12px 16px;
                        width: 100%;

                        &::placeholder {
                            color: $neutrals-800;
                        }

                        &:focus, &:hover {
                            outline: none;
                        }
                    }
                }

                button {
                    cursor: pointer;
                    display: block;
                    margin-bottom: 40px;
                    padding: 12px 16px;
                    text-align: center;
                    width: 100%;
                }
            }

            .access-cta {
                text-align: center;

                p {
                    @include fontSize(16px, 24px);
                    color: $neutrals-900;
                    font-family: $title-font;
                    font-weight: 500;

                    a {
                        color: $primary-600;
                        text-decoration: underline;
                    }
                }
            }
        }

        .copyright {
            bottom: 32px;
            position: absolute;
        }
    }

    .image-container {
        display: none;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .container-login {
        .content {
            .nav {
                .logo-lang-container {
                    .languages-container {
                        right: 48px;
                    }
                }
            }

            .alert, .copyright, &__body {
                left: 48px;
                width: calc(100% - 96px);
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .container-login {
        display: flex;

        .content {
            border-right: $border-card-thin;
            box-shadow: $card-shadow;
            width: 400px;

            .nav {
                .logo-lang-container {
                    padding: 24px 32px;

                    .languages-container {
                        right: 32px;
                    }
                }
            }

            .alert, .copyright, &__body {
                left: 32px;
                max-width: calc(100% - 64px);
            }
        }

        .image-container {
            display: block;
            height: 100vh;
            width: calc(100% - 400px);

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .container-login {
        .content {
            .nav {
                background-color: $neutrals-200;
                padding: 0;
                width: 400px;
                z-index: 0;

                .logo-lang-container {
                    height: auto;
                    padding: 24px 32px;

                    .languages-container {
                        right: 32px;
                    }
                }
            }

            .alert {
                top: 88px;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .container-login {
        .content {
            min-width: 571px;
            width: 571px;

            .nav {
                @include size(100%, auto);
                box-shadow: none;
                left: 0;
                position: initial;
                top: 0;

                .logo-lang-container {
                    padding: 64px 80px 32px;

                    .languages-container {
                        right: 80px;
                    }
                }
            }

            .alert, .copyright, &__body {
                left: 80px;
                width: calc(100% - 160px);
            }

            .alert {
                top: 0px;
            }

            &__body {
                .header {
                    margin-bottom: 48px;
    
                    h1 {
                        @include fontSize(56px, 60px);
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}