.skills-section {
    background-color: $neutrals-100;

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .skills-section {
        h3 {
            margin-bottom: 40px !important;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .skills-section {
        .skills {
            gap: 24px 16px;
        }
    }
}