.employee-languages {
    background-color: $neutrals-200;
    padding: 48px 16px;

    h4 {
        margin-bottom: 32px;
    }

    .languages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }
}