.card-section {
    padding: 48px 16px;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .arrows {
            display: flex;
            gap: 20px;

            .arrow {
                color: $primary-600;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    // Replace by Swiper
    .cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        overflow: auto;

        .card {
            min-width: calc(100vw - 32px);
        }
    }

    &.projects-section, &.education-section {
        background-color: $neutrals-200;
    }
}