.employee-header {
    background-color: $neutrals-100;
    padding: 8px 16px 32px;
    position: relative;

    .breadcrumbs {
        margin-bottom: 24px;
        position: sticky;
        top: 0;
        left: 0;
    }

    &__person {
        .flex {
            align-items: center;
            gap: 16px;
        }

        .profile-picture {
            @include size(80px, 80px);
            border-radius: $border-radius-medium;
            border: $border-card-thin;
            object-fit: cover;
        }

        .person {
            h4 {
                margin-bottom: 4px;
            }

            .function {
                @include fontSize(14px, 14px);
                color: $neutrals-800;
                font-family: $title-font;
                font-weight: 400;
            }
        }

        .tags {
            display: none;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .employee-header {
        padding: 16px 48px 32px;

        &__person {
            gap: 24px;

            .profile-picture {
                @include size(156px, 156px);
            }

            .person {
                h4 {
                    @include fontSize(40px, 44px);
                    margin-bottom: 12px;
                }
    
                .function {
                    @include fontSize(20px, 20px);
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .employee-header {
        border-bottom: 0.4px solid transparent;
        padding: 40px 48px 32px;
        position: sticky;
        top: 0;
        z-index: 3;

        &.scrolled {
            box-shadow: $card-shadow;
            border-bottom: $border-card-thin;
        }

        &__person {
            .profile-picture {
                @include size(104px, 104px);
            }

            .person {
                h4 {
                    @include fontSize(32px, 36px);
                    margin-bottom: 8px;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .employee-header {
        padding: 40px 64px 32px;

        .breadcrumbs {
            margin-bottom: 40px;
        }

        &__person {
            justify-content: space-between;

            .tags {
                display: flex;
                gap: 8px;

                .tag {
                    border-radius: $border-radius-medium;
                    cursor: pointer;
                    gap: 8px;
                    padding: 8px 16px;
                    
                    i {
                        color: $primary-600;
                    }

                    &:hover {
                        background-color: $primary-600;
                        border: 0.4px solid $primary-600;
                        color: $neutrals-100;

                        i {
                            color: $neutrals-100;
                        }
                    }
                }
            }
        }
    }
}