.card-section {
    position: relative;
    padding: 48px 16px !important;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .arrows {
            display: flex;
            gap: 20px;

            .nav-arrow {
                color: $primary-600;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    &.projects-section, &.education-section {
        background-color: $neutrals-200;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .card-section {
        padding: 64px 48px !important;

        &__header {
            margin-bottom: 40px;
        }
    }
}