.card-section {
    position: relative;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        h3 {
            margin-bottom: 0 !important;
        }

        .arrows {
            display: flex;
            gap: 20px;

            .nav-arrow {
                @include fontSize(20px, 20px);
                color: $primary-600;
                transition: all $transition-time-short ease-in-out !important;
            }
        }
    }

    &.projects-section, &.education-section {
        background-color: $neutrals-200;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .card-section {
        &__header {
            margin-bottom: 40px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .card-section {
        &__header {
            .arrows {
                gap: 32px;
    
                .nav-arrow {
                    @include fontSize(24px, 32px);
                }
            }
        }
    }
}