.discover-more-section {
    background-color: $neutrals-100;
    padding: 48px 16px;

    h3 {
        margin-bottom: 24px;
    }

    .more-team-members {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .discover-more-section {
        padding: 64px 48px;

        .more-team-members {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .discover-more-section {
        h3 {
            margin-bottom: 40px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .discover-more-section {
        padding: 64px 48px 48px;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .discover-more-section {
        padding: 64px 64px 48px;

        h3 {
            @include fontSize(32px, 36px);
        }
    }
}