.employee-languages {
    background-color: $neutrals-200;
    padding: 48px 16px;

    h4 {
        margin-bottom: 32px;
    }

    .languages {
        display: flex;
        gap: 16px;
        padding: 8px;

        .circular-progress-bar {
            position: relative;
            width: 72px;
            height: 72px;
            text-align: center;
            border-radius: 100%;
    
            .text-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background-color: #fff;
                border-radius: 100%;
                z-index: 2;
    
                .lang, .percentage {
                    font-family: $title-font;
                    letter-spacing: -0.01em;
                }
        
                .lang {
                    color: $neutrals-1000;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                }
    
                .percentage {
                    font-size: 14px;
                    line-height: 14px;
                    color: $neutrals-800;
                }
            }
    
            > .border {
                &:before, &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border-radius: 100%;
                }
    
                &:before {
                    background-color: $primary-100;
                    z-index: 0;
                }
    
                &:after {
                    background-color: $primary-600;
                    z-index: 1;
                }
            }
    
            > .border-r {
                &:after {
                    clip: rect(0px, 80px, 80px, 40px);
                }
            }
    
            > .border-l {
                &:after {
                    clip: rect(40px, 80px, 80px, 0px);
                }
            }

            &.hundred {
                > .border-l {
                    &:after {
                        clip: rect(0px, 80px, 80px, 0px);
                    }
                }
            }

            &.ninety {
                > .border-r {
                    &:after {
                        clip: rect(0px, 80px, 80px, 40px);
                    }
                }
        
                > .border-l {
                    &:after {
                        clip: rect(40px, 80px, 80px, 0px);
                        transform: rotate(60deg);
                    }
                }
            }
        }
    }

    /*.radial-whole > span.radial-01-border-l:after {
        content: " ";
        display: block;
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background-color: #008cba;
        border-radius: 100%;
        z-index: 10;
        clip: rect(0px, 120px, 120px, 0px);
    }

    .radial-ninty > span.radial-01-border-l:after {
        content: " ";
        display: block;
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background-color: #008cba;
        border-radius: 100%;
        z-index: 10;
        clip: rect(60px, 120px, 120px, 0px);
        transform: rotate(60deg);
    }*/
}
