.employee-introduction {
    background-color: $neutrals-100;
    padding: 0 16px 48px;

    h3 {
        margin-bottom: 8px;
    }

    .intro {
        margin-bottom: 16px;
    }

    .socials {
        margin-bottom: 24px;
    }

    .contact-info {
        margin-bottom: 32px;

        &__item {
            @include fontSize(16px, 26px);
            align-items: baseline;
            color: $neutrals-900;
            display: flex;
            font-family: $paragraph-font;
            font-weight: 400;
            gap: 8px;
            letter-spacing: -0.01em;

            i {
                color: $primary-600;
                font-size: 14px;
                width: 14px;
            }
        }
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        .stat {
            background-color: $primary-100;
            border: $border-card-thin;
            border-radius: $border-radius-medium;
            height: 64px;
            overflow: hidden;
            position: relative;
            width: 100%;

            .number-container .number,
            .number-label {
                @include fontSize(20px, 28px);
                font-family: $title-font;
                letter-spacing: -0.01em;
            }

            .number-container {
                background-color: $primary-600;
                height: 72px;
                left: -38%;
                position: relative;
                transform: rotateZ(55deg);
                text-align: center;
                width: 168px;

                .number {
                    color: $neutrals-100;
                    font-weight: 600;
                    left: 4px;
                    position: relative;
                    top: 8px;
                }
            }

            .number-label {
                color: $neutrals-1000;
                font-weight: 500;
                left: 80px;
                position: absolute;
                top: 14px;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .employee-introduction {
        padding: 0 48px 64px;

        h3 {
            @include fontSize(24px, 32px);
        }

        .stats .stat .number-container {
            left: -20%;
        }
    }
}


/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .employee-introduction {
        h3, .intro {
            max-width: 615px;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .stat .number-container {
                left: -28%;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .employee-introduction {
        .stats .stat .number-container {
            left: -32%;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .employee-introduction {
        padding: 0 64px 64px;

        h3 {
            @include fontSize(48px, 52px);
            margin-bottom: 16px;
        }

        .socials {
            margin-bottom: 48px;

            .social {
                @include size(48px, 48px);
    
                i {
                    @include fontSize(24px, 24px);
                    top: 12px;
                }
            }
        }

        .contact-info {
            display: none;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .stat {
                height: 80px;
    
                .number-container .number,
                .number-label {
                    @include fontSize(24px, 32px);
                }
    
                .number-container {
                    height: 80px;
                    left: -28%;

                    .number {
                        left: 8px;
                    }
                }
    
                .number-label {
                    left: 89px;
                    top: 20px;
                }
            }
        }
    }
}