.filter-section {
    background-color: $neutrals-100;
    padding: 8px 16px 16px;

    h1 {
        @include fontSize(32px, 36px);
        margin-bottom: 16px;
    }

    &:has(.active) {
        .employees-filter {
            margin-bottom: 16px;
        }
    }

    .employees-filter {
        .filter-form {
            &__input {
                @include fontSize(16px, 16px);
                background-color: $neutrals-200;
                border: $border-card-thin;
                border-radius: $border-radius-medium;
                color: $neutrals-900;
                display: block;
                font-family: $paragraph-font;
                font-weight: 400;
                margin-bottom: 8px;
                padding: 12px 16px;
                width: 100%;

                &::placeholder {
                    color: $neutrals-700;
                }

                &:focus, &:hover {
                    box-shadow: $card-shadow;
                    outline: none;
                }
            }
        }

        .filter-tags {
            align-items: center;
            border-bottom: 1px solid $neutrals-400;
            gap: 16px;
            margin-bottom: 24px;
            padding-bottom: 20px;

            p {
                @include fontSize(14px, 14px);
                color: $neutrals-900;
                font-family: $title-font;
                white-space: nowrap;
            }

            .tags {
                display: flex;
                flex-wrap: nowrap;
                overflow: auto;
                padding-bottom: 3px;

                &::-webkit-scrollbar {
                    height: 3px;
                }

                &::-webkit-scrollbar-track {
                    background: $primary-100;
                }

                &::-webkit-scrollbar-thumb {
                    background: $primary-400;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $primary-600;
                }

                .tag {
                    cursor: pointer;

                    &.active {
                        background-color: $primary-600;
                        border: 0.4px solid $primary-600;
                        color: $neutrals-100;

                        &:hover {
                            background-color: $primary-600;
                            border: 0.4px solid $primary-600;
                            color: $neutrals-100;
                        }
                    }

                    &:hover {
                        background-color: $primary-200;
                        color: $primary-700;
                    }
                }
            }
        }
    }

    .filter-results-title {
        @include fontSize(14px, 14px);
        color: $neutrals-900;
        font-family: $title-font;
        font-weight: 400;
        opacity: 0;

        &.active {
            opacity: 1;
        }

        span {
            font-weight: 700;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .filter-section {
        padding: 16px 48px 24px;

        h1 {
            margin-bottom: 24px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .filter-section {
        border-bottom: 1px solid $neutrals-400;
        padding: 40px 48px 24px;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 9;

        .employees-filter {
            .filter-tags {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .filter-section {
        padding: 40px 64px 24px;

        h1 {
            @include fontSize(40px, 44px);
            margin-bottom: 24px;
        }

        .employees-filter {
            .filter-form {
                &__input {
                    margin-bottom: 16px;
                }
            }

            .filter-tags {
                p {
                    @include fontSize(16px, 16px);
                    padding-bottom: 3px;
                }

                .tags {
                    .tag-m {
                        @include fontSize(16px, 16px);
                    }
                }
            }
        }
    }
}