.filter-section {
    padding: 8px 16px 16px;

    h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .employees-filter {
        .filter-form {
            &__input {
                display: block;
                width: 100%;
                font-family: $paragraph-font;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                color: $neutrals-900;
                padding: 12px 16px;
                border: $border-card-thin;
                border-radius: $border-radius-medium;
                background-color: $neutrals-200;
                margin-bottom: 8px;

                &::placeholder {
                    color: $neutrals-700;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .filter-tags {
            align-items: center;
            gap: 16px;
            padding-bottom: 20px;
            border-bottom: 1px solid $neutrals-400;
            margin-bottom: 24px;

            p {
                width: 63px;
                white-space: nowrap;
                font-family: $title-font;
                font-size: 14px;
                line-height: 14px;
                color: $neutrals-900;
            }

            .tags {
                display: flex;
                flex-wrap: nowrap;
                overflow: auto;
                gap: 4px;
            }
        }
    }

    .filter-results-title {
        font-family: $title-font;
        font-size: 14px;
        font-weight: 400;
        color: $neutrals-900;

        span {
            font-weight: 700;
        }
    }
}