.nav {
    .logo-lang-container {
        @include size(100%, 72px);
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        position: relative;
        z-index: 2;

        .logo-container {
            @include size(160px, 40px);
            align-items: center;
            display: flex;

            .logo {
                @include size(inherit, auto);
            }
        }
    }

    .nav-links {
        @include size(100%, 100%);
        background-color: $neutrals-100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        overflow: hidden;
        padding: 88px 16px 24px;
        position: fixed;
        transform: translateX(-100%);
        transition: transform $transition-time-medium ease-in-out;
        top: 0;
        z-index: 1;

        &.nav-active {
            transform: translateX(0%);
        }

        .company {
            border-bottom: 1px solid $neutrals-400;
            margin-bottom: 32px;
            padding-bottom: 32px;

            > .button {
                margin-bottom: 12px;

                i {
                    @include fontSize(14px, 14px);
                }
            }

            &__teams {
                gap: 8px;
                max-height: 239px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-track {
                    background: $primary-100;
                }

                &::-webkit-scrollbar-thumb {
                    background: $primary-400;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $primary-600;
                }
            }

            &__contact {
                h4 {
                    margin-bottom: 16px;
                }

                .buttons {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "callButton emailButton"
                        "websiteButton websiteButton";
                    gap: 8px;
                    margin-bottom: 16px;

                    .callButton {
                        grid-area: callButton;
                    }

                    .emailButton {
                        grid-area: emailButton;
                    }

                    .websiteButton {
                        grid-area: websiteButton;
                    }
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        .logo-lang-container {
            @include size(100%, 88px);
            padding: 24px 48px;
        }

        .nav-links {
            @include size(100%, 100%);
            padding: 88px 48px 24px;

            .company {
                &__teams {
                    max-height: 328px;
                }

                &__contact {
                    max-width: 414px;
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .nav {
        .logo-lang-container {
            @include size(100%, 88px);
            padding: 24px 48px;
        }

        .nav-links {
            @include size(100%, 100%);
            padding: 88px 48px 24px;

            .company {
                padding-top: 16px;

                &__teams {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    max-height: 156px;
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-xs) {
    .nav {
        background-color: $primary-100;
        border-radius: 0 $border-radius-medium $border-radius-medium 0;
        border-right: $border-card-thin;
        box-shadow: $card-shadow;
        height: 100vh;
        padding: 32px 32px 48px;
        position: fixed;
        width: 382px;
        z-index: 9;

        .logo-lang-container {
            height: 48px;
            padding: 0;
        }

        .nav-links {
            @include size(100%, 100%);
            background-color: transparent;
            max-width: 313px;
            max-height: calc(100vh - 128px);
            padding: 0;
            position: relative;
            transform: translateX(0%);

            .company {
                border-bottom: 1px solid $primary-200;
                padding-top: 40px;

                &__teams {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    max-height: 236px;
    
                    &::-webkit-scrollbar-track {
                        background: $primary-200;
                    }
    
                    &::-webkit-scrollbar-thumb {
                        background: $primary-400;
                    }
    
                    &::-webkit-scrollbar-thumb:hover {
                        background: $primary-600;
                    }
                }

                &__contact {
                    .buttons {
                        display: none;
                    }

                    .links {
                        margin-bottom: 24px;

                        .link {
                            @include fontSize(16px, 24px);
                            align-items: center;
                            display: flex;
                            font-family: $paragraph-font;
                            gap: 8px;

                            i {
                                color: $primary-600;
                                width: 16px;
                            }
                        }
                    }

                    .socials .social {
                        background-color: $primary-600;
                        
                        i {
                            color: $neutrals-100;
                        }
                    }
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .nav {
        .nav-links {
            .company {
                padding-bottom: 48px;
                margin-bottom: 48px;

                > .button {
                    h4 {
                        @include fontSize(20px, 28px);
                    }
                }

                &__contact {
                    h4 {
                        @include fontSize(20px, 28px);
                    }
                }
            }
        }
    }
}