.nav {
    .logo-lang-container {
        @include size(100%, 72px);
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        position: relative;
        z-index: 2;

        .logo-container {
            @include size(160px, 40px);
            align-items: center;
            display: flex;

            .logo {
                @include size(inherit, auto);
            }
        }
    }

    .nav-links {
        @include size(100%, 100%);
        background-color: $neutrals-100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        overflow: hidden;
        padding: 88px 16px 24px;
        position: fixed;
        transform: translateX(-100%);
        transition: transform $transition-time-medium ease-in-out;
        top: 0;
        z-index: 1;

        &.nav-active {
            transform: translateX(0%);
        }

        .company {
            border-bottom: 1px solid $neutrals-400;
            margin-bottom: 32px;
            padding-bottom: 32px;

            > .button {
                margin-bottom: 12px;

                i {
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            &__teams {
                gap: 8px;
                max-height: 239px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-track {
                    background: $primary-100;
                }

                &::-webkit-scrollbar-thumb {
                    background: $primary-400;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $primary-600;
                }
            }

            &__contact {
                h4 {
                    margin-bottom: 16px;
                }

                .buttons {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "callButton emailButton"
                        "websiteButton websiteButton";
                    gap: 8px;
                    margin-bottom: 16px;

                    .callButton {
                        grid-area: callButton;
                    }

                    .emailButton {
                        grid-area: emailButton;
                    }

                    .websiteButton {
                        grid-area: websiteButton;
                    }
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .nav {
        .logo-lang-container {
            @include size(100%, 88px);
            padding: 24px 48px;
        }

        .nav-links {
            @include size(100%, 100%);
            padding: 88px 48px 24px;

            .company {
                &__teams {
                    max-height: 328px;
                }

                &__contact {
                    max-width: 414px;
                }
            }
        }
    }
}