.teams-section {
    background-color: $neutrals-100;
    padding: 0 16px 64px;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .teams-section {
        padding: 0 48px 64px;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-m) {
    .teams-section {
        padding: 0px;
    }
}