// BORDER RADIUS
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-lg: 12px;
$border-radius-xlg: 16px;


// BORDERS
$border-card-thin: 0.4px solid $neutrals-400;
$border-img: 0.4px solid $primary-100;