// BORDER SETTINGS
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-lg: 12px;
$border-radius-xlg: 16px;

$border-card-thin: 0.4px solid $neutrals-400;
$border-card-thin-dark-mode: 0.4px solid $neutrals-800;