* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all $transition-time-short ease-in-out;

    &::selection {
        background: $primary-200;
        color: $primary-700;
    }

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body,
html {
    overflow-x: visible !important;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

html {
    height: 100%;
}

body {
    max-width: 100% !important;
    min-height: -webkit-fill-available;
}

.stop-scrolling {
    height: 100%;
    max-height: -webkit-fill-available;
    overflow: hidden;
    overflow-y: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    max-width: 100%;
}

a {
    color: $neutrals-1000;
    display: inline-block;
    text-decoration: none;

    &:hover {
        cursor: pointer !important;
    }
}

// Contactform
.honeypot {
    left: -9999px;
    position: absolute;
}